
body {
  background-color: #f2f2f2; 
  margin: 0;
  font-family: Arial, sans-serif; 
}

h1 {
  color: #005477; 
  text-align: center; 
  margin: 20px 0; 
  font-weight: bold; 
  background: linear-gradient(90deg, #005477, #005477); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  animation: fadeIn 2s ease-in-out; 
}

h2 {
  color: #005477; 
  text-align: left; 
  margin: 20px 0; 
  font-weight: bold; 
  background: linear-gradient(90deg, #005477, #005477); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  animation: fadeIn 2s ease-in-out; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

table {
  width: 100%;
  border-collapse: collapse; 
  margin-bottom: 20px; 
  background-color: white; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

th {
  background-color: #005477 ; 
  color: white; 
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid black; 
}

tr:nth-child(even) {
  background-color: #e9ecef; 
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.transaction-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.sort-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #005477;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sort-button:hover {
  background-color: #005477;
  transform: scale(1.05);
}

.sort-button:active {
  transform: scale(0.98);
}

.icon {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.tabs {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: 2px solid #ddd;
}

.tab-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #555;
}

.tab-button:hover {
  color: #005477;
}

.tab-button.active {
  border-bottom: 2px solid #005477;
  color: #005477;
  font-weight: bold;
}

.tab-content {
  padding: 1rem;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



