
body {
  background-color: #f2f2f2; 
  margin: 0;
  font-family: Arial, sans-serif; 
}

h2 {
  color: red; 
  text-align: center; 
  margin: 20px 0; 
  font-weight: bold; 
  letter-spacing: 1px; 
  background: linear-gradient(90deg, #ff4b2b, #ff416c); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  animation: fadeIn 2s ease-in-out; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

table {
  width: 100%;
  border-collapse: collapse; 
  margin-bottom: 20px; 
  background-color: white; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

th {
  background-color: #005477 ; 
  color: white; 
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid black; 
}

tr:nth-child(even) {
  background-color: #e9ecef; 
}

